@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;700&display=swap');
@import "tailwindcss";
@theme {
  --font-montserrat: "Montserrat", sans-serif;
}





:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

